name: Continuous Integration

on:
  pull_request:
    branches:
      - master
      - main

jobs:
  test:
    runs-on: ubuntu-latest

    services:
      postgres:
        image: postgres:14
        env:
          POSTGRES_USER: developer
          POSTGRES_PASSWORD: supersecretpassword
          POSTGRES_DB: forumapi_test
        ports:
          - 5432:5432
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js
      uses: actions/setup-node@v2
      with:
        node-version: '18.x'
    - name: Install dependencies
      run: npm install
    - name: Run Migrations
      run: npm run migrate up
      env:
        DATABASE_URL: postgres://developer:supersecretpassword@localhost:5432/forumapi_test
    - name: Run Tests
      run: npm test
      env:
        PGHOST_TEST: localhost
        PGPORT_TEST: 5432
        PGUSER_TEST: developer
        PGPASSWORD_TEST: supersecretpassword
        PGDATABASE_TEST: forumapi_test
        ACCESS_TOKEN_KEY: secret
        REFRESH_TOKEN_KEY: secret
        ACCESS_TOKEN_AGE: 1800
